<div class="container">
    <!-- /* [BEG Seccion Ribbon] */ -->
    <div class="row">
        <div className="containerBrand">
            <a target="blank"
                href="https://www.google.com/url?q=https://www.reforma.com/aplicacioneslibre/preacceso/articulo/default.aspx?__rval%3D1%26urlredirect%3Dhttps://www.reforma.com/aseguran-contra-covid-19-a-repartidores/ar1918784?referer%3D--7d616165662f3a3a6262623b727a7a7279703b767a783a--&sa=D&source=hangouts&ust=1595456479803000&usg=AFQjCNG-LFyyfNwWeJGqlo9ZyZyogHvb_g">
                <div className="imagen ref"><img src="/newspaper/Reforma.png"></img></div>
            </a>
        </div>
        <div className="containerBrand">
            <a target="blank" href="https://expansion.mx/busqueda?q=interproteccion">
                <div className="imagen exp"><img src="/newspaper/Expansión.png"></img></div>
            </a>
        </div>
        <div className="containerBrand">
            <a target="blank" href="https://www.eleconomista.com.mx/buscar/interproteccion">
                <div className="imagen eco"><img src="/newspaper/Economista.png"></img></div>
            </a>
        </div>
        <div className="containerBrand">
            <a target="blank" href="https://www.forbes.com.mx/tag/interproteccion/">
                <div className="imagen especial"><img src="/newspaper/Forbes.png"></img></div>
            </a>
        </div>
        <div className="containerBrand">
            <a target="blank" href="https://www.eluniversal.com.mx/tag/interproteccion">
                <div className="imagen uni"><img src="/newspaper/ElUniversal.png"></img></div>
            </a>
        </div>
        <div className="containerBrand">
            <a target="blank"
                href="https://www.nytimes.com/es/2017/10/19/espanol/america-latina/seguros-sismo-mexico-cobertura.html">
                <div className="imagen eco"><img src="/newspaper/NewYorkTimes.png"></img></div>
            </a>
        </div>
    </div>
    <!-- /* [END Seccion Ribbon] */

    /* [BEG] Seccion RedBull */ -->
    <div class="row">
        <div className="left-bar">
            <img class="mh-adaptitive" src="/redBull/RayasRojasGDE.png" />
        </div>

        <div className="logoRedBull">
            <img class="" src="/redBull/LogoPartnership.png" />
            <img class="mt-2" src="/redBull/HASHTAG.png" />
            {/* <a class="liga mt-2"
                href="https://drive.google.com/drive/u/2/folders/1HettZsMeEcbm4F1DCFX_OXo5HfFjSLPI">
                Conoce mas de nuestro patrocinio
            </a> */}
        </div>

        <div className="logoSergio">
            <img class="mh-adaptitive mb-4" src="/redBull/SergioPerez11.png" />
        </div>

        <div className="checo">
            <img class="mh-adaptitive" src="/redBull/ChecoRecortado.png" />
        </div>

        <div className="right-bar">
            <img class="mh-adaptitive rayas" src="/redBull/RayasRojasChicas.png" />
            <img class="mh-adaptitive base" src="/redBull/PuntosAzules.png" />
        </div>
    </div>
    <!-- /* [END] Seccion RedBull */

    /* [BEG] Seccion Words */ -->
    <div class="row">
        <div className="marquee">
            <span>Rápido, fácil y seguro • Rápido, fácil y seguro • Rápido, fácil y seguro • Rápido, fácil y seguro
                •</span>
        </div>
    </div>
    <!-- /* [END] Seccion Words */ -->

    <!-- /* [BEG] Seccion Steps */ -->
    <div class="row" style="backgroundColor: '#0F1852'; color: '#ffffff'; paddingTop: '50px'; paddingBottom: '50px' ">
        <div
            style="  width: '100%'; textAlign: 'center'; color: 'white'; fontWeight: '900'; fontSize: '34px'; letterSpacing: '0.02em'; textTransform: 'uppercase' ">
            <p
                style="margin: '0 auto'; color: '#0F1852'; WebkitTextStrokeWidth: '1.4px'; WebkitTextStrokeColor: '#ffffff'; ">
                ¿Cómo funciona</p>
            <p style=" margin: '-12px auto 45px auto' ">Inter?</p>
            <div class="row">
                <div class="col">
                    <div style=" width: '100%' ; position: 'relative' ">
                        <img style=" height: '140px' ; width: '90px' " src="/steps/01.svg" />
                        <img style=" margin: '10px 15px 0px 15px' ; height: '70' ; width: '70' ; position: 'absolute' ;
                            bottom: '0' " src="/steps/icon01.svg" />
                    </div>
                    <p style=" textAlign: 'start' ; fontSize: '16px' ; fontStyle: 'normal' ; fontWeight: 'normal' ;
                        marginTop: '15px' ">
                        Diseñamos {' '}
                        <span style=" color: '#039ECC' ; fontWeight: '600' ">productos innovadores</span>
                        , únicos en el mercado
                    </p>
                </div>
                <div class="col">
                    <div style=" width: '100%' ; position: 'relative' ">
                        <img style=" height: '140px' ; width: '90px' " src="/steps/02.svg" />
                        <img style=" margin: '10px 15px 0px 15px' ; height: '70' ; width: '70' ; position: 'absolute' ;
                            bottom: '0' " src="/steps/icon02.svg" />
                    </div>
                    <p style=" textAlign: 'start' ; fontSize: '16px' ; fontStyle: 'normal' ; fontWeight: 'normal' ;
                        marginTop: '15px' ">
                        Cotizamos en todas las aseguradoras para darte {' '}
                        <span style=" color: '#039ECC' ; fontWeight: '600' ">las mejores condiciones y el mejor
                            costo</span>
                    </p>
                </div>
                <div class="col">
                    <div style=" width: '100%'; position: 'relative' ">
                        <img style=" height: '140px'; width: '90px' " src="/steps/03.svg" />
                        <img style=" margin: '10px 15px 0px 15px'; height: '70'; width: '70'; position: 'absolute'; bottom: '0' "
                            src="/steps/icon03.svg" />
                    </div>
                    <p
                        style=" textAlign: 'start'; fontSize: '16px'; fontStyle: 'normal'; fontWeight: 'normal'; marginTop: '15px' ">
                        En {' '}
                        <span style=" color: '#039ECC'; fontWeight: '600' ">minutos</span>
                        {' '} obtienes tu póliza. Somos los más rápidos
                    </p>
                    <div class="row" class="step-three" style=" justifyContent: 'center'; marginTop: '30px' ">
                        <div style=" fontSize: '16px'; fontWeight: 'normal'; fontStyle: 'normal' ">
                            <div style=" fontWeight: 'bold'; marginBottom: '47px'; position: 'relative' ">
                                <span style=" position: 'absolute'; right: '20px' ">INTER</span>

                                <!-- OJO falta migrar componente y adaptarlo -->
                                <!-- <OverlayTrigger key="top" placement="top" overlay={ <Tooltip id="tooltip-top">
                                    Los tiempos mencionados son aproximados y pueden llegar a variar dependiendo del
                                    servidor de internet de cada usuario, así como de la calidad del servicio y
                                    velocidad del mismo y por lo anterior INTERprotección no se hace responsable.
                                    </Tooltip>
                                    }
                                    >
                                    <div style=" height: '15px' , width: '15px' , backgroundColor: '#009DD0' ,
                                        color: '#ffffff' , borderRadius: '50%' , textAlign: 'center' , fontSize: '10px'
                                        , position: 'absolute' , top: '4px' , right: '-2px' ">?</div>
                                </OverlayTrigger> -->
                            </div>
                            <p className="special-p-one">
                                <span className="special-span-one">
                                    Seguro de casa
                                </span>
                                2 min
                            </p>
                            <p className="special-p-two">
                                <span className="special-span-two">
                                    Gastos médicos mayores
                                </span>
                                5 min
                            </p>
                        </div>
                        <div style=" textAlign: 'center' ; justifyContent: 'center' ; display: 'grid' ; margin: '10px'
                            ; marginTop: '-10px' ">
                            <div style=" borderLeft: '2px solid #ffffff' ; height: '190px' ; width: '5px' "></div>
                            <div style=" backgroundColor: '#ffffff' ; width: '8px' ; height: '8px' ;
                                borderRadius: '50%' ; marginTop: '-1px' ; marginLeft: '-3px' "></div>
                        </div>
                        <div style=" fontSize: '16px' ; fontWeight: 'normal' ; fontStyle: 'normal' ">
                            <p style=" marginBottom: '1.5rem' ">OTROS</p>
                            <p style=" marginBottom: '2rem' ">2-3 días</p>
                            <p style=" marginBottom: '2rem' ; maxWidth: '100px' ">5 horas a una semana</p>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div style=" width: '100%'; position: 'relative' ">
                        <img style=" height: '140px'; width: '90px' " src="/steps/04.svg" />
                        <img style=" margin: '10px 15px 0px 15px'; height: '70'; width: '70'; position: 'absolute'; bottom: '0' "
                            src="/steps/icon04.svg" />
                    </div>
                    <p
                        style=" textAlign: 'start'; fontSize: '16px'; fontStyle: 'normal'; fontWeight: 'normal'; marginTop: '15px' ">
                        Te acompañamos en {' '}
                        <span style=" color: '#039ECC'; fontWeight: '600' ">cualquier momento</span>
                        . Te brindamos asesoría en siniestros y garantizamos la mejor experiencia
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /* [END] Seccion Steps */ -->

    <!-- /* [BEG Seccion App] */ -->
    <div class="row">
        <div class="container view-app">
            <div class="row justify-content-center">
                <div class="col">
                    <div className="content-first-section-app">
                        <p className="text-one">
                            <span>
                                Tus seguros {' '}
                            </span>
                        </p>
                        <p className="text-two">
                            <span>
                                disponibles 24/7 {' '}
                            </span>
                        </p>
                        <p className="text-three">
                            Descarga la app y ten control total de tu seguro estés en donde estés.
                        </p>
                        <div className="view-img-shop">
                            <div className="shop">
                                <a target="blank" href="https://apps.apple.com/mx/app/inter-mx/id1518612038"><img
                                        src="/apple.png"></img></a>
                            </div>
                            <div className="shop">
                                <a target="blank"
                                    href="https://play.google.com/store/apps/details?id=com.copsis.intermx"><img
                                        src="/google.png"></img></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div className="w-100 content-second-section-app">
                        <img className="w-100" src="/phone.png"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /* [END Seccion App] */  -->

    <!-- /* [BEG Seccion Insurances] */ -->
    <div id="insurances" class="row">
        <div class="container container-insurances" id="theSayContainer">
            <div class="row col">
                <p className="text-one">
                    <span className="span-one">
                        abc {' '}
                    </span>
                    <span className="span-two">
                        Seguros
                    </span>
                </p>
                <p className="text-two">
                    Conoce los básicos de los Seguros. Llevamos 40 años juntando la mejor información para ti
                </p>
            </div>
        </div>
        <ng-container *ngIf="laoding && insurances.length ===0 else other">
            <div className="loading">
                <h4>Cargando elementos...</h4>
            </div>
        </ng-container>
        <ng-template #other>
            <!-- Ver Referencia ScriptSLider -->

            <!-- <Slider centerPadding="center" {...settings} className="containerCarousel">
                {
                  insurances.map(item => (
                    <div onClick={() => setTogglerItem(item.index)} key={item.index} className="box-insurance">
                      <img src={item.src} />
                      <p >
                        {item.label}
                      </p>
                    </div>
                  ))
                }
              </Slider>
              {
                insurances.map(item => (
                  <FsLightbox
                    key={item.index}
                    toggler={item.toggler}
                    customSources={[
                      <iframe width="1920" height="1080" src={item.video} frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen autoPlay="1"></iframe>
                    ]}
                  />
                ))
              } -->
            <a className="button-blog" target="blank" href="https://seguros.inter.mx/blog/">
                Conoce nuestro blog
            </a>
        </ng-template>
    </div>
    <!-- /* [END Seccion Insurances]  */ -->

    <!-- /* [BEG Section Pay]  */ -->
    <div class="row" style=" backgroundColor: 'white'; paddingTop: '35px'; paddingBottom: '35px' ">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col" className="p-2 mt-4 mb-4">
                        <!-- VerScriptCarousel -->
                        <!-- <Carousel controls={false} indicators={false} interval={2000} keyboard={false} pause={false}
                            touch={false}>
                            <Carousel.Item>
                                <img className="d-block m-auto d-block" width="50%" height="165px" src="/pay/Pay01.svg"
                                    alt="First slide" />
                                <div className="w-100 mt-4">
                                    <p style={{ textAlign: 'center' , fontSize: '18px' , fontWeight: '600' ,
                                        color: '#0A3949' , maxWidth: '270px' , margin: 'auto' , display: 'block' ,
                                        height: '80px' }}>
                                        De todas <span style={{ color: '#009dd0' }}>nuestras utilidades</span> digitales
                                    </p>
                                </div>
                            </Carousel.Item>
                            <Carousel.Item>
                                <img className="d-block m-auto d-block" width="50%" height="165px" src="/pay/Pay02.svg"
                                    alt="Third slide" />
                                <div className="w-100 mt-4">
                                    <p style={{ textAlign: 'center' , fontSize: '18px' , fontWeight: '600' ,
                                        color: '#0A3949' , maxWidth: '320px' , margin: 'auto' , display: 'block' ,
                                        height: '80px' }}>
                                        Regresamos <span style={{ color: '#009dd0' }}>un porcentaje importante</span> a
                                        través de donativos
                                    </p>
                                </div>
                            </Carousel.Item>
                            <Carousel.Item>
                                <img className="d-block m-auto d-block" width="50%" height="165px" src="/pay/Pay03.svg"
                                    alt="Third slide" />
                                <div className="w-100 mt-4">
                                    <p style={{ textAlign: 'center' , fontSize: '18px' , fontWeight: '600' ,
                                        color: '#0A3949' , maxWidth: '200px' , margin: 'auto' , display: 'block' ,
                                        height: '80px' }}>
                                        <span style={{ color: '#009dd0' }}>personas apoyadas</span> en 15 años
                                    </p>
                                </div>
                            </Carousel.Item>
                            <Carousel.Item>
                                <img className="d-block m-auto d-block" width="50%" height="165px" src="/pay/Pay04.svg"
                                    alt="Third slide" />
                                <div className="w-100 mt-4">
                                    <p style={{ textAlign: 'center' , fontSize: '18px' , fontWeight: '600' ,
                                        color: '#0A3949' , maxWidth: '270px' , margin: 'auto' , display: 'block' ,
                                        height: '80px' }}>
                                        <span style={{ color: '#009dd0' }}>desde el incio</span> de la pandemia Covid-19
                                    </p>
                                </div>
                            </Carousel.Item>
                        </Carousel> -->
                    </div>
                    <div class="col">
                        <div className="content-second-section-pay">
                            <p style="
                                fontSize: '34px';
                                fontWeight: '900';
                                fontStyle: 'normal';
                                textTransform: 'uppercase'
                              ">
                                <span
                                    style=" WebkitTextStrokeWidth: '1.4px'; WebkitTextStrokeColor: '#0A3949'; color: '#FFFFFF'; letterSpacing: '0.02em' ">
                                    Nuestro compromiso {' '}
                                </span>
                            </p>
                            <p style="
                                fontSize: '34px';
                                fontWeight: '900';
                                fontStyle: 'normal';
                                textTransform: 'uppercase';
                                marginTop: '-30px'
                              ">
                                <span style=" color: '#0A3949' ">
                                    con los {' '}
                                </span>
                                <span style=" color: '#219DD0' ">
                                    Mexicanos
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /* [END Section Pay]  */ -->

    <!-- /* [BEG Section Experiencies]  */ -->
    <div class="row container-experiencies">
        <div class="container">
            <div className="title-experiences">
                <p className="text-one">#INTEREVERYWHERE</p>
                <p className="text-two"> Las mejores experiencias</p>
                <p className="text-three">Solo inter</p>
            </div>
            <div class="row justify-content-center">
                <div className="box-experience">
                    <a target='_blank' href="https://www.redbull.com/int-en/redbullracing">
                        <img className="w-100" src="/experiences/01.png" />
                    </a>
                </div>
                <div className="box-experience">
                    <a target='_blank' href="https://sergioperez.mx/">
                        <img className="w-100" src="/experiences/02.jpg" />
                    </a>
                </div>
                <div className="box-experience">
                    <a target='_blank' href="https://abiertomexicanodetenis.com/">
                        <img className="w-100" src="/experiences/04.png" />
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div className="box-experience">
                    <a target='_blank' href="https://pescadodemoctezuma.com/">
                        <img className="w-100" src="/experiences/05.png" />
                    </a>
                </div>
                <div className="box-experience">
                    <a target='_blank' href="https://www.atlasfc.com.mx/home">
                        <img className="w-100" src="/experiences/06.jpg" />
                    </a>
                </div>
                <div className="box-experience">
                    <a target='_blank' href="https://www.altiusmedia.com/">
                        <img className="w-100" src="/experiences/03.jpg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid container-experiences-movile">
            <div class="container">
                <div class="row justify-content-center">
                    <div className="box-experience">
                        <a target='_blank' href="https://www.redbull.com/int-en/redbullracing">
                            <img className="w-100" src="/experiences/01.jpg" />
                        </a>
                    </div>
                    <div className="box-experience">
                        <a target='_blank' href="https://sergioperez.mx/">
                            <img className="w-100" src="/experiences/02.jpg" />
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div className="box-experience">
                        <a target='_blank' href="https://abiertomexicanodetenis.com/">
                            <img className="w-100" src="/experiences/04.jpg" />
                        </a>
                    </div>
                    <div className="box-experience">
                        <a target='_blank' href="https://pescadodemoctezuma.com/">
                            <img className="w-100" src="/experiences/05.jpg" />
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div className="box-experience">
                        <a target='_blank' href="https://www.atlasfc.com.mx/home">
                            <img className="w-100" src="/experiences/06.jpg" />
                        </a>
                    </div>
                    <div className="box-experience">
                        <a target='_blank' href="https://www.altiusmedia.com/">
                            <img className="w-100" src="/experiences/03.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /* [END Section Experiencies]  */ -->

    <!-- /* [BEG Section Newsletter]  */ -->
    <div class="row containerHelp">
        <div class="row">
            <div class="col">
                <div className="needHelp">
                    <div className="titleHelp">Suscríbete a nuestro Newsletter</div>
                    <p className="text-privacy">Nos tomamos muy enserio la protección de tu datos. Consulta nuestro <a
                            target="blank" href="/aviso-de-privacidad">Aviso de Privacidad</a></p>
                    <div className="containerInput">
                        <form method='post' action='/' onSubmit={handleSubmit} className="form-newsletter">
                            <input placeholder="Correo electrónico" name="email" type="email"
                                className="input-newsletter" ref={input} />
                            <button type="submit" className="button-newsletter" disabled={isSubmitted} style={
                                isSubmitted ? { opacity: '0.6' } : { } }>
                                { isSubmitted ? 'Enviando' : 'Suscríbete' }
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /* [END Section Newsletter]  */ -->

</div>